/* Basic Styles */
body {
    font-family: 'Knife Metal', monospace;
    background-color: #070707;
    color: #f9f9f9;
    margin: 0;
    padding: 0 20px; /* Adjusted padding */
}

header {
    text-align: center;
    padding: 50px 0; /* Added more spacing */
}

h1, h2 {
    font-weight: bold;
    text-transform: uppercase;
    margin: 20px 0;
}

h2 {
    font-size: 1.8rem; /* Increased font size for better readability */
    letter-spacing: 2px;
}

p, li {
    line-height: 1.8;
    margin: 0.5rem 0;
}

section {
    margin: 80px 0; /* Adjusted section margin for better spacing */
}

ul {
    list-style-type: none;
    padding-left: 0;
}

/* Hover Effect for Action Words */
strong {
    position: relative;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

strong:hover {
    color: #cfcfcf;
}

strong:hover::after {
    content: ' (Click to learn more)';
    font-size: 0.9em;
    color: #aaa;
    position: absolute;
    left: 105%;
    animation: fadeIn 0.5s ease-in-out;
}

/* Subtle Animations */
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

section {
    opacity: 0;
    transform: translateY(40px); /* Adjusted the initial translation for smoother animation */
    animation: slideUp 1.5s forwards ease-in-out; /* Increased animation duration */
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Footer Styling */
footer {
    text-align: center;
    margin-top: 80px;
    padding-bottom: 40px; /* Added padding for footer */
}

a {
    color: #f9f9f9;
    text-decoration: none;
}

a:hover {
    color: #cfcfcf;
    text-decoration: underline;
}
